.skills{
    padding: 30px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.skillscard{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 10px 20px;
    max-width: 200px;
}

.skillscard img{
    height: 150px;
    object-fit: scale-down;
}

.skillscardheader{
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    color: turquoise;
    padding: 2px;
    padding-top: 10px;
}